@keyframes animarEntradaMenu {
    from {
        opacity: 0;
        transform: translateX(-4rem);
    } to {
        opacity: initial;
        transform: initial;
    }
}

.Navegacao ul {
    margin-top: 1rem;
    padding-left: 1rem;
    animation: animarEntradaMenu 0.5s ease forwards;
}

.Navegacao li + li {
    margin-top: 0.5rem;
}

.Navegacao a {
    padding: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--cinzaLink);
    display: flex;
    align-items: center;
}

.Navegacao a:hover,
.Navegacao .ativo,
.Navegacao a:focus {
    color: var(--branco);
}

.iconeContainer {
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
}

@media (max-width: 740px) {
    .Navegacao ul {
        padding-left: 0;
    }

    .Navegacao a {
        margin-left: -2rem;
        font-size: 1.25rem;
        justify-content: center;
        text-align: center;
    }
}