.TituloPagina {
    max-width: var(--container);
    padding: 0 var(--gap);
    margin: 0 auto 1.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--preto);
}

@media (max-width: 660px) {
    .TituloPagina {
        max-width: 75%;
        margin: 0 auto 1.5rem 0;
        font-size: 2rem;
        text-transform: capitalize;
    }   
}