.CardAtividade {
    width: 100%;
    max-width: calc((100% / 12) * 4 - 2rem);
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: var(--sombra);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: flex-end;
    gap: 0.5rem 1rem;
    position: relative;
}

.CardAtividade h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.CardAtividade p {
    font-size: 1.5rem;
    color: var(--preto);
}

.CardAtividade svg {
    width: 80px;
    height: 80px;
    grid-column: 2;
    grid-row: 1 / 3;
}

.CardAtividade.positiva {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 20%, rgba(201, 255, 235, 0.5) 100%) #FFFFFF;
}

.CardAtividade.positiva svg {
    color: #8FD;
}

.CardAtividade.positiva h2 {
    color: #3C9;
}

.CardAtividade.negativa {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 82, 82, 0.2) 100%), #FFFFFF;
}

.CardAtividade.negativa svg, .CardAtividade.negativa h2 {
    color: #FBB;
}

.CardAtividade.negativa h2 {
    color: #F44;
}

.CardAtividade.neutra {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(180, 180, 180, 0.5) 100%), #FFFFFF;
}

.CardAtividade.neutra svg, .CardAtividade.neutra h2 {
    color: #777;
}
