.StatusHeader {
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--cinzaTexto);
    display: flex;
    align-items: center;
}

.StatusHeader::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    color: var(--cinzaLink);
    background-color: currentColor;
    box-shadow: 0 0 6px currentColor;
    display: inline-block;
    transition: 0.3s ease;
}

.StatusHeader.ativo::before {
    color: var(--corAtivo);
}

.StatusHeader.inativo::before {
    color: var(--corInativo);
}

@media (max-width: 660px) {
    .StatusHeader {
        font-size: 1rem;
    }

    .StatusHeader::before {
        width: 0.75rem;
        height: 0.75rem;
    }
}