.Header {
    padding: 1.5rem 2rem;
    border-radius: 0 0 0 1rem;
    background-color: var(--branco);
    box-shadow: 2px 2px 6px rgba(44, 44, 44, 0.2);
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
}

.Header > * + * {
    margin-left: 1.5rem;
}