.Header {
    padding: 1.5rem 2rem;
    border-radius: 0 0 0 1rem;
    background-color: var(--branco);
    box-shadow: 2px 2px 6px rgba(44, 44, 44, 0.2);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.Header > * + * {
    margin-left: 2rem;
}

.Header > * {
    transition: 0.3s ease;
}

.Header.loading > * {
    opacity: 0.8;
    transform: scale(0.9);
}

@media (max-width: 1080px) {
    .Header {
        width: 100%;
        max-height: 60px;
        padding: 1rem;
        justify-content: flex-end;
        border-radius: 0;
    }

    .Header > * + * {
        margin-left: 1rem;
    }
}