/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  outline: none;
}

body {
  padding: 3rem 0 0 80px;
  font-family: sans-serif;
  /* url - Define a imagem.
  ** no-repeat - Faz a imagem não repetir.
  ** top - Define a posição da imagem no eixo Y.
  ** right - Define a posição da imagem no eixo X;
  ** background-size: cover; - Faz a imagem ocupar o espaço todo e cortar a imagem sem distorcer.
  */
  background: #F7F7F7 url('./Assets/patternBg.jpg') top right repeat;
  background-size: cover;

  /* Variáveis de estilo */
  --preto: #1f2538;
  --vermelho: #c82132;
  --branco: #fff;
  --cinzaTexto: #666;
  --cinzaClaro: #aaa;
  --cinzaLink: #c7c9cd;
  --corAtivo: #04fe86;
  --corInativo: #f96c6c;
  --sombra: 0px 0px 16px 4px rgba(44, 44, 44, 0.1);

  /* Variáveis do layout */
  --container: 1400px;
  --gap: 1rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

p,
a,
ul,
li,
small,
textarea {
  line-height: 1.5;
}

p {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

a,
li,
p {
  letter-spacing: 1px;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* Estilos Gerais */
main {
  padding: 0 var(--gap);
}

@keyframes animarEntradaSessao {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: initial;
    transform: initial;
  }
}

.animarEntradaSessao {
  animation: animarEntradaSessao 0.5s ease forwards;
}

/* Responsividade */
@media (max-width: 1200px) {
  body {
    --container: 1080px;
  }
}

@media (max-width: 1080px) {
  body {
    padding-top: 6rem;
    padding-left: 0;
    background-size: initial;

    --gap: 0.75rem;
    --container: 960px;
  }
}

@media (max-width: 980px) {
  body {
    --gap: 0.5rem;
    --container: 100%;
  }
}