.FeedbackSessao {
  width: 100%;
  max-width: 50%;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: var(--sombra);
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 1rem;
}

.mensagem {
  color: var(--cinzaTexto);
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.4;
  text-align: center;
}

.mensagem.erro {
  color: var(--corInativo);
}

.mensagem.carregando:after {
  content: ".";
  font-size: 2.4rem;
  line-height: 0;
  animation: dots 1s ease-in infinite;
}

@keyframes dots {
  0% {
    color: transparent;
    text-shadow: 0.25em 0 0 transparent, 0.5em 0 0 transparent;
  } 25% {
    color: inherit;
    text-shadow: 0.25em 0 0 transparent, 0.5em 0 0 transparent;
  } 50% {
    text-shadow: 0.25em 0 0 currentColor, 0.5em 0 0 transparent;
  } 75%, 100% {
    text-shadow: 0.25em 0 0 currentColor, 0.5em 0 0 currentColor;
  }
}

@media (max-width: 660px) {
  .FeedbackSessao {
    max-width: 100%;
    margin-left: var(--gap);
    margin-right: var(--gap);
  }
}
